    <div class="container-fluid">
      <center>
      <form class="" action="index.html" method="post" ng-submit="login">
        <div class="row">
          <label for="email">Email</label>
          <input type="email" name="email" value="" ng-mode="user.email">
        </div>
        <div class="row">
          <label for="pass">Password</label>
          <input type="password" name="pass" value="" ng-mode="user.password">
        </div>
      </form>
      <button type="summit" name="login">Entrar</button>
      <button type="reset" name="cancel">Cancelar</button>
      </center>
    </div>
